.details-container {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 60, 0, 1) 100%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
}

.details-container>h1 {
    color: orangered;
    text-shadow: 1px 1px 2px black;
    padding: 0.5rem 3rem;
    border-bottom: 2px solid orange;
}

.recipe-details {
    background-color: rgb(255, 255, 255, 0.4);
}