.details-container {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 60, 0, 1) 100%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
}

.details-container>h1 {
    color: orangered;
    text-shadow: 1px 1px 2px black;
    padding: 0.5rem 3rem;
    border-bottom: 2px solid orange;
    margin-bottom: 2rem;
}

.recipe-details {
    padding: 2.5rem;
    border-radius: 1rem;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 0.8rem 0 rgb(255, 255, 255, 0.8), inset 0 0 1rem 0 rgb(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.image-table {
    display: flex;
    flex-direction: column;
    flex: 1 0 45%;
    /* align-items: center; */
    justify-content: space-between;
    gap: 1rem;
}

.recipe-details-image {
    /* display: flex;
    flex-direction: column; */
    /* flex: 1 0 45%; */
    /* width: 10rem; */
    aspect-ratio: 4/3;
    /* height: 25rem; */
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.8rem 0 rgb(0, 0, 0, 0.5);
    position: relative;
}

.recipe-details-image img {
    display: block;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-details-table {
    display: flex;
    justify-content: center;
}

.recipe-details-table table {
    background-color: rgb(255, 255, 255, 0.4);
    border: 1px solid orangered;
    padding: 0.2rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 100%;
}

.recipe-details-table table th {
    color: orangered;
    padding: 0.2rem 0.2rem;
    text-decoration: underline;
}

.recipe-details-table table thead tr th {
    font-weight: 800;
}

.recipe-details-table table tbody tr:first-child td {
    font-weight: bold;
}

.recipe-details-table table tbody tr:nth-child(2) td {
    font-style: italic;
}

.recipe-info {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.recipe-details-ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-basis: 80%; */
}

.recipe-details-ingredients h2 {
    color: rgb(40, 40, 40);
    text-shadow: 1px 1px 2px white;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid orangered;
}

.recipe-details-ingredients p {
    margin: 1rem 0;
    text-align: center;
}

.recipe-details-btn {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
}

.recipe-details-btn a {
    text-decoration: none;
    margin-top: 1.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 1.2rem;
}

.recipe-details-btn a:hover {
    cursor: pointer;
    background-color: orangered;
}

@media (width < 600px) {
    .recipe-details {
        padding: 1rem;
        flex-direction: column;
    }

    .recipe-details-ingredients {
        text-align: center;
    }

    .details-container {
        padding: 2rem 1rem;
    }
}