.catalog-home-page {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-home-page h2 {
    margin-bottom: 0.8em;
    color: rgb(40, 40, 40);
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    line-height: 0.8;
    border-bottom: 3px solid orangered;
}

.catalog-home-page p {
    font-size: 1.2em;
    text-align: center;
    /* color: orangered; */
}

.catalog-home-page p a {
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}

.recipes-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}