.catalog-home {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-home h2 {
    margin-bottom: 0.8em;
    color: rgb(40, 40, 40);
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    line-height: 0.8;
    border-bottom: 3px solid orangered;
}

.catalog-home p {
    font-size: 1.2em;
    text-align: center;
    padding: 0 2rem;
    /* color: orangered; */
}

.catalog-home p a {
    padding: 0.2em 0.4em;
    color: orangered;
    font-weight: bold;
    text-decoration: none;
}

.catalog-home p a:hover {
    background-color: rgb(128, 128, 128, 0.1);
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
}

.recipes-catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

@media (width < 600px) {
    .catalog-home h2 {
        font-size: 2.5em;
    }
}