.hero-banner {
    display: flex;
    width: 100%;
    min-height: 600px;
    padding: 4em 6em;
    background-image: url("https://img.freepik.com/free-photo/tasty-fresh-appetizing-italian-food-ingredients-dark-background_1220-1745.jpg?w=996&t=st=1698413613~exp=1698414213~hmac=561f3e47e2567614338ed1e32be1a06b881ce82508faa6736427167d823c7453");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.hero-banner .hero-text {
    flex-basis: 39%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-text h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: 5px 5px 5px rgb(128, 128, 128);
}

.hero-text p {
    font-size: 2rem;
    color: rgb(255, 69, 0);
}

.day-recipe {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 3em;
}

.day-recipe article,
.day-recipe .img {
    display: flex;
    flex: 1 1 45%
}

.day-recipe article {
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    justify-content: space-between;
}

.day-recipe article a {
    padding: 0.8em 1.5em;
    border-radius: 0.3em;
    background-color: rgb(40, 40, 40);
    color: white;
    text-decoration: none;
}

.day-recipe a:hover {
    background-color: rgb(255, 69, 0);
}

.day-recipe article h2 {
    color: rgb(255, 69, 0);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
}

.day-recipe article p {
    font-size: 1.2em;
}

.day-recipe .img img {
    height: 100%;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0);
}