.hero-banner {
    display: flex;
    width: 100%;
    min-height: 600px;
    padding: 4em 6em;
    background-image: url("https://img.freepik.com/free-photo/tasty-fresh-appetizing-italian-food-ingredients-dark-background_1220-1745.jpg?w=996&t=st=1698413613~exp=1698414213~hmac=561f3e47e2567614338ed1e32be1a06b881ce82508faa6736427167d823c7453");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.hero-banner .hero-text {
    flex-basis: 39%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-text h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: 5px 5px 5px rgb(128, 128, 128);
}

.hero-text p {
    font-size: 2rem;
    color: rgb(255, 69, 0);
}

@media (width < 600px) {
    .hero-banner {
        padding: 2em;
        width: auto;
        flex-basis: 100%;
        text-align: center;
        justify-content: center;
    }

    .hero-text h1 {
        font-size: 4em;
    }

    .hero-text p {
        font-size: 2em;
    }
}