.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
    padding: 0.8rem 3rem;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    gap: 3em;
}

.nav-menu li,
.nav-menu a {
    display: block;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: color 0.8s ease-in-out;
}

.nav-menu ul li a:hover {
    color: orangered;
}

.logo img {
    color: white;
    height: 6rem;
}