.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
    padding: 0.8rem 3rem;
    align-items: center;
}

.menu-icon {
    display: none;
}

/* .menu-icon {
    display: flex;
    height: 2.5em;
}

.menu-icon svg {
    fill: white;
}

.menu-icon:hover {
    cursor: pointer;
} */

.nav-menu>ul {
    display: flex;
    align-items: center;
    gap: 3em;
}

.nav-menu li,
.nav-menu a {
    display: block;
}

.nav-menu ul li>a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: color 0.8s ease-in-out;
}

.nav-menu ul li>a:hover {
    color: orangered;
}

.logo img {
    color: white;
    height: 6rem;
}

.recipe-of-day {
    padding-top: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.header-section {
    color: rgb(40, 40, 40);
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.2;
    border-bottom: 3px solid orangered;
}

.expand-menu {
    position: absolute;
    padding: 2em;
    margin-right: 1em;
    margin-top: 5em;
    top: 0;
    right: 0;
    background-color: rgb(40, 40, 40);
}

.profil {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-menu .profil svg:hover {
    /* border-color: orangered; */
    fill: orangered;
}

.nav-menu .profil:hover .profil-info {
    display: flex;
}

.profil span {
    display: none;
}

.profil svg {
    cursor: pointer;
    fill: white;
    height: 2.2em;
    /* border: 2px solid white; */
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 2px;
    transition: fill 0.8s ease-in-out;
}

.nav-menu .profil .profil-info {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 0;
}

.nav-menu .profil .profil-info>li a {
    display: block;
    font-size: 1.1rem;
    min-width: 200px;
    text-align: end;
    padding: 0.5rem 0.8rem;
    background-color: white;
    border-right: 3px solid orangered;
    border-left: 3px solid orangered;
    color: black;

}

.profile-modal {
    position: absolute;
    top: 90px;
    right: 0;
    z-index: 100;
}

.nav-menu .profil .profil-info li>a:hover {
    color: white;
    background-color: orangered;
}

@media (width < 990px) {
    .logo img {
        height: 3.5em;
    }

    .nav-menu>ul {
        gap: 2em;
    }
}

@media (width < 600px) {
    .nav-bar-desktop {
        display: none;
    }

    .header {
        justify-content: space-between;
        padding: 0.5em 1.5em;
        position: relative;
    }

    .menu-icon {
        display: flex;
        height: 2.5em;
    }

    .menu-icon svg {
        fill: white;
    }

    .logo img {
        height: 4em;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 90px;
        width: 90%;
        right: 5%;
        border-radius: 1rem;
        padding: 1rem;
        background-color: white;
        z-index: 10;
        box-shadow: 0 0 0.5rem 0 rgb(0, 0, 0, 0.5);
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
    }

    .nav-menu ul li a {
        color: rgb(40, 40, 40);
    }

    .profil a svg {
        fill: rgb(40, 40, 40);
    }

    .nav-menu .profil .profil-info {
        top: 45px;
        right: -80px;
    }

    .nav-menu .profil .profil-info>li a {
        text-align: center;
    }

    /* .expand-menu {
        display: flex;
    } */

    .expand-menu ul {
        flex-direction: column;
    }

    .profile-modal {
        top: 50px;
        right: 10%;
    }
}