.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    /* background-color: rgb(255, 69, 0, 0.7); */
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 60, 0, 1) 100%);
}

.create-recipe {
    padding: 2rem;
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid white;
    text-align: center;
    box-shadow: 0 0 0.8rem 0 rgb(0, 0, 0, 0.4);
}

.create-recipe h1 {
    color: orangered;
    text-shadow: 1px 1px rgb(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.create-recipe form>input {
    margin-top: 1.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);
    border: none;
    color: white;
    font-family: Nunito, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
}

.create-recipe form>input:hover {
    cursor: pointer;
    background-color: orangered;
}

@media (width < 600px) {
    .create-recipe {
        width: 90%;
        padding: 1rem;
    }

    .create-container {
        padding: 2rem 1rem;
    }
}