.search {
    padding: 2rem 0;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* min-height: 550px; */
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 69, 0, 1) 100%);
}

.search h1 {
    line-height: 0.8em;
    border-bottom: 3px solid orangered;
}

.search-field form {
    display: flex;
    align-items: center;
}



.search-field form #search {
    width: 300px;
    padding: 0.5rem 1rem;
    border: 2px solid orangered;
    border-radius: 2rem;
    /* margin-bottom: 1rem; */
    font-family: Nunito, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
}

.search-field form #searchBtn {
    margin-left: 1.5rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);
    border: none;
    color: white;
    font-family: Nunito, "Helvetica Neue", sans-serif;
    font-size: 1.2rem;
}

.search-field form #searchBtn:hover {
    cursor: pointer;
    background-color: orangered;
}

.search-field label {
    display: block;
    text-align: start;
    padding-left: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    font-style: italic;
    color: orangered;
}

.search-field form #search:hover {
    border: 2px solid orange;
}


.search-recipe-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.no-recipes {
    width: 80%;
    padding: 1em;
    overflow: hidden;
    text-align: center;
}

.no-recipes p {
    color: orangered;
    font-size: larger;
    font-weight: 700;
    text-shadow: 1px 2px 2px white;
}

.no-recipes img {
    margin-top: 1em;
    display: block;
    border-radius: 3em;
    width: 100%;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 1);
}

@media (width < 600px) {
    .search-field form {
        flex-direction: column;
        gap: 1rem;
    }

    .no-recipes {
        width: 90%;
    }

    .no-recipes img {
        border-radius: 1rem;
    }
}