.site {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.routing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (width < 1024px) {
  .container {
    width: auto;
  }
}