.site {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.routing {
  display: flex;
}

@media (width < 1024px) {
  .container {
    max-width: 1024px;
  }
}