@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

html {
  font: 14px/1.3 Nunito, "Helvetica Neue", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font: inherit;
}